{% extends 'base.html.twig' %}

{% block title %}@ashes.No.art{% endblock %}

{% block body %}

<div class="min-h-screen flex flex-col pt-0 sm:pt-16">
    <!-- Bouton "hamburger" visible sur mobile -->
   <button id="hamburger" class="fixed block z-50 sm:hidden p-2 ms-3 text-gray-500 mt-5">
        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
</svg>
 <!-- Icône Font Awesome -->
    </button>

    

    <!-- Sidebar -->
   <aside id="sidebar-multi-level-sidebar" class="fixed left-0 z-40 w-64 h-screen border-r-4 border-black transform -translate-x-full sm:translate-x-0 transition-transform duration-300 sm:mt-0 bg-white sm:bg-transparent dark:bg-gray-800">
    <div class="h-full px-3 py-4 overflow-y-auto">
        <ul class="space-y-2 font-medium mt-36">
                <!-- "Works" avec une taille de texte plus grande -->
                <li>
                    <a href="#" id="all-works-button" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <span class="ms-3 text-5xl font-bold font-snowstorm">Works</span>
                    </a>
                </li>

                <!-- Menu à plusieurs niveaux pour chaque catégorie -->
                {% for category in categories %}
                    <li>
                        <button type="button" data-category-id="{{ category.id }}" class="category-button flex items-center w-full p-2 text-base font-snowstorm text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-{{ category.id }}" data-collapse-toggle="dropdown-{{ category.id }}">
                            <span class="flex-1 ms-3 text-left text-3xl">{{ category.name }}</span>
                            {% if category.name != 'All' %}
                                <svg class="w-3 h-3 flex-shrink-0 ms-2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 10 6" aria-hidden="true">
                                    <path d="M1 1l4 4 4-4"></path>
                                </svg>
                            {% endif %}
                        </button>
                        {% if category.name != 'All' %}
                            <ul id="dropdown-{{ category.id }}" class="hidden py-2 space-y-2">
                                {% for subcategory in category.subcategories %}
                                    <li>
                                        <a href="#" data-sub-category-id="{{ subcategory.id }}" class="subcategory-button flex items-center w-full p-2 pl-11 text-2xl font-snowstorm text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">{{ subcategory.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>

    <!-- Contenu principal -->
    <div class="mt-16 sm:mt-0 sm:ml-64 flex-grow">
        <div class="flex-grow flex flex-col">
            <!-- Header -->
          <header class="relative text-left sm:text-left text-center">
    <div class="relative w-full"> <!-- Prend toute la largeur de l'écran -->
        <h1 class=" text-2xl sm:text-4xl md:text-5xl lg:text-8xl font-bold bg-white bg-opacity-30 px-4 py-2 relative z-10 w-full max-w-full sm:max-w-max mx-0"> <!-- w-full pour toute la largeur sur petits écrans -->
            <span class="font-snowstorm">@</span><span class="font-siamese">ashes.No.art</span>
        </h1>
        <hr class="absolute top-0 left-0 w-0 border-l-4 border-black hidden sm:block"> <!-- Cache la ligne sur petits écrans -->
    </div>
</header>
            <div id="spinner" class="flex justify-center items-center h-64 col-span-full">
                <div role="status" class="animate-spin inline-block w-12 h-12 border-4 border-t-transparent border-red-500 rounded-full"></div>
                <span class="sr-only">Loading...</span>
            </div>

            <!-- Grid Section -->
            <section id="artwork-container" class="p-4 md:p-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                <!-- Images with Tailwind utility classes -->
                 {% for artwork in artworks %}
        <div class="artwork-item" data-title="{{ artwork.title }}" data-description="{{ artwork.description }}">
            <img src="{{ artwork.imagePath }}" alt="{{ artwork.title }}" class="w-full h-auto object-cover cursor-pointer">
        </div>
    {% endfor %}
                <div class="artwork-item">
                    
                </div>
            </section>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-gradient-to-r from-black to-transparent text-white text-center py-8 w-full mt-auto">
        <div class="flex justify-center items-center space-x-4 font-snowstorm">
            <a href="https://www.instagram.com/ashes.NO.art" target="_blank" class="text-xl">
                <i class="fab fa-instagram"></i>
            </a>
            <span class="font-siamese text-2xl">
                <span class="font-snowstorm">@</span>ashes.No.art
            </span>
            <a href="https://www.tiktok.com/@ashes.NO.art" target="_blank" class="text-xl">
                <i class="fab fa-tiktok"></i>
            </a>
        </div>
    </footer>
</div>

<div id="imageModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full flex items-center justify-center bg-gray-900 bg-opacity-50 transition-opacity">
    <div class="relative w-full max-w-xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex justify-between items-center p-4 rounded-t border-b dark:border-gray-600">
                <button type="button" class="close-modal text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="imageModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-6 space-y-6">
                <img id="modalImage" src="" alt="Image en grand" class="w-full h-auto object-contain">
                <h2 id="modalTitle" class="text-xl font-bold text-center dark:text-white"></h2>
                <p id="modalDescription" class="text-base text-center dark:text-gray-300"></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    
   document.addEventListener('DOMContentLoaded', function () {
    const hamburgerButton = document.getElementById('hamburger');
    const sidebar = document.getElementById('sidebar-multi-level-sidebar');

    hamburgerButton.addEventListener('click', function () {
        // Vérifiez la largeur de l'écran pour s'assurer que cela n'affecte que les petits écrans
        if (window.innerWidth < 640) { // Pour les petits écrans seulement
            // Si la barre latérale est hors de l'écran, on la ramène à l'intérieur avec une transition
            if (sidebar.classList.contains('-translate-x-full')) {
                sidebar.classList.remove('-translate-x-full'); // La ramener dans l'écran
                sidebar.classList.add('translate-x-0');
            } else {
                // Sinon, on la fait glisser hors de l'écran
                sidebar.classList.add('-translate-x-full');
                sidebar.classList.remove('translate-x-0');
            }
        }
    });
});
</script>
    <script src="{{ asset('/js/artwork.js') }}"></script>
  
{% endblock %}
